{
  "bracketSpacing": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "jsxSingleQuote": false,
  "semi": false,
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "trailingComma": "none",
  "endOfLine": "lf",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^[.]",
    "<TYPES>^(node:)",
    "<TYPES>",
    "<TYPES>^[.]"
  ],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleAttributePerLine": false
      }
    }
  ]
}
